<h1>Restaurar password</h1>
<form action="/api/users/restore" method="post" role="form">
    {{#if error}}   
        <p>{{error}}</p>
    {{/if}}
    <input id="email" name="email" value={{user}} type="text" readonly>
    <input id="password" name="password" placeholder="contraseña" type="password" required>
    <input type="submit" value="Restaurar">
</form>