<div class="smallheader">    
    <button class="logout" onclick="location.href='/'">Volver</button>
</div>
<form action="/addproduct" method="post" role="form" class="div">
    <h3>Producto Nuevo</h3>
    <input type="text" name="title" id="title" class="textbox" placeholder="Nombre"/>
    <input type="text" name="description" id="description" class="textbox" placeholder="Descripcion"/>
    <input type="text" name="code" id="code" class="textbox" placeholder="Codigo"/>
    <input type="number" name="price" id="price" class="textbox" placeholder="Precio"/>
    <input type="number" name="stock" id="stock" class="textbox" placeholder="Stock"/>
    <input type="text" name="category" id="category" class="textbox" placeholder="Categoria"/>
    <input type="submit" class="ok" value="Agregar">
</form>