<div class="log">
    <h1>Recuperar password</h1>
    <form action="/api/users/recover" method="post" role="form">
        {{#if error}}   
            <p>{{error}}</p>
        {{/if}}
        <input id="email" name="email" placeholder="email" type="text" class="textbox" required>
        <input type="submit" class="ok" value="Recuperar">
    </form>
    <button class="button" onclick="location.href = '/api/users/login'">Volver</button>
</div>