<div class="log">
    <h1>Register</h1>
    <form action="/api/users/register" method="post" role="form">
        <input id="first_name" name="first_name" placeholder="nombre" type="text" class="textbox" required>
        <input id="last_name" name="last_name" placeholder="apellido" type="text" class="textbox" required>
        <input id="password" name="password" placeholder="contraseña" type="password" class="textbox" required>
        <input id="email" name="email" placeholder="email" type="text" class="textbox" required>
        <input id="age" name="age" placeholder="edad" type="number" class="textbox" required>
        <input type="submit" class="ok" value="Register">
    </form>
    <button class="button" onclick="location.href = '/api/users/login'">Volver</button>
</div>